noderedflow.json
[{"id":"5c45a4a9.49d93c","type":"tab","label":"Websocket Chatbot Flow","disabled":false,"info":""},{"id":"372f72f6.73903e","type":"function","z":"5c45a4a9.49d93c","name":"session","func":"msg._session=\"\";\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":260,"wires":[["bf91ac54.d28de"]]},{"id":"bf91ac54.d28de","type":"websocket out","z":"5c45a4a9.49d93c","name":"","server":"","client":"","x":1070,"y":260,"wires":[]},{"id":"1cbb0b28.ee68e5","type":"debug","z":"5c45a4a9.49d93c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":870,"y":180,"wires":[]},{"id":"999a027c.5fe6b","type":"telegram receiver","z":"5c45a4a9.49d93c","name":"","bot":"","saveDataDir":"","x":240,"y":440,"wires":[["91b9df7c.cfea3"],[]]},{"id":"75d07960.f74cb8","type":"telegram sender","z":"5c45a4a9.49d93c","name":"","bot":"","x":1070,"y":440,"wires":[[]]},{"id":"74113842.8c00d8","type":"watson-conversation-v1","z":"5c45a4a9.49d93c","name":"","workspaceid":"","multiuser":false,"context":true,"empty-payload":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/assistant/api","timeout":"","optout-learning":false,"x":440,"y":440,"wires":[["991b53c.d94c0b","163529c1.f59516","bb2270f5.9d2d"]]},{"id":"91b9df7c.cfea3","type":"function","z":"5c45a4a9.49d93c","name":"b4 assistant","func":"context.global.set(\"chatId\", msg.payload.chatId);\n\nmsg.chatId = msg.payload.chatId;\nmsg.payload = msg.payload.content;\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":380,"wires":[["74113842.8c00d8"]]},{"id":"991b53c.d94c0b","type":"function","z":"5c45a4a9.49d93c","name":"b4 telegram","func":"if(typeof msg.payload.output !== 'undefined')\n{\n    msg.payload = {\n        chatId:context.global.get(\"chatId\"),\n        type: \"message\",\n        content:msg.payload.output.text[0]\n    };\n}\nelse\n{\n    msg.payload = {\n        chatId:context.global.get(\"chatId\"),\n        type: \"message\",\n        content:JSON.stringify(msg.payload)\n    };\n}\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":440,"wires":[["75d07960.f74cb8"]]},{"id":"163529c1.f59516","type":"switch","z":"5c45a4a9.49d93c","name":"check intent","property":"payload.context.sqft_lot15","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":450,"y":540,"wires":[["611662f1.d6aadc"]]},{"id":"bb2270f5.9d2d","type":"debug","z":"5c45a4a9.49d93c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":380,"wires":[]},{"id":"ace215d3.13d3c8","type":"debug","z":"5c45a4a9.49d93c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":570,"y":620,"wires":[]},{"id":"611662f1.d6aadc","type":"function","z":"5c45a4a9.49d93c","name":"","func":"var fieldsObj = {};\n\nfieldsObj.bedrooms = msg.payload.context.bedrooms;\nfieldsObj.bathrooms = msg.payload.context.bathrooms;\nfieldsObj.sqft_living = msg.payload.context.sqft_living;\nfieldsObj.sqft_lot = msg.payload.context.sqft_lot;\nfieldsObj.floors = msg.payload.context.floors;\nfieldsObj.waterfront = msg.payload.context.waterfront;\nfieldsObj.view = msg.payload.context.view;\nfieldsObj.condition = msg.payload.context.condition;\nfieldsObj.grade = msg.payload.context.grade;\nfieldsObj.sqft_above = msg.payload.context.sqft_above;\nfieldsObj.sqft_basement = msg.payload.context.sqft_basement;\nfieldsObj.sqft_living15 = msg.payload.context.sqft_living15;\nfieldsObj.sqft_lot15 = msg.payload.context.sqft_lot15;\n\nmsg.payload = {\n  \"intent\":\"Get_Prediction\", \n  \"fields\":fieldsObj\n};\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":540,"wires":[["ace215d3.13d3c8","50ccbbc5.5c4064"]]},{"id":"50ccbbc5.5c4064","type":"link out","z":"5c45a4a9.49d93c","name":"","links":["10864538.4d513b"],"x":755,"y":540,"wires":[]},{"id":"10864538.4d513b","type":"link in","z":"5c45a4a9.49d93c","name":"","links":["50ccbbc5.5c4064"],"x":955,"y":280,"wires":[["bf91ac54.d28de"]]},{"id":"4bc8b8cc.51db18","type":"inject","z":"5c45a4a9.49d93c","name":"Clear Context","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":60,"wires":[["8449d415.ee0238"]]},{"id":"8449d415.ee0238","type":"function","z":"5c45a4a9.49d93c","name":"Clear Context Var","func":"msg.payload = \"hi\";\nmsg.params = {\n    context : {}\n};\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":60,"wires":[["cf6c370a.ed6198"]]},{"id":"cf6c370a.ed6198","type":"watson-conversation-v1","z":"5c45a4a9.49d93c","name":"Assistant ","workspaceid":"","multiuser":false,"context":true,"empty-payload":false,"default-endpoint":false,"service-endpoint":"","timeout":"","optout-learning":false,"x":660,"y":60,"wires":[[]]},{"id":"37618201.2681be","type":"function","z":"5c45a4a9.49d93c","name":"json parse","func":"jsonobj = JSON.parse(msg.payload);\nmsg.payload = \"The Estimated value of your house is \" + jsonobj['prediction'].toString() + \" US Dollars\";\n\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":260,"wires":[["372f72f6.73903e","1cbb0b28.ee68e5","991b53c.d94c0b"]]},{"id":"a2f79b8b.04bc38","type":"websocket in","z":"5c45a4a9.49d93c","name":"","server":"","client":"","x":500,"y":260,"wires":[["37618201.2681be"]]}]